# Question 1

In [8]:
import pandas as pd

data1= {
    'StudentID':[1,2,3,4],
    'Name':['Alice','Bob','Charlie','David']  
}
df1=pd.DataFrame(data1)


#2nd dataframe
data2={
    'StudentID':[3,4,5,6],
    'Grade':['A','B','C','D']
}
df2=pd.DataFrame(data2)
print(df2)
print(df1)
inner_merge=df2.merge(df1,how="inner",on="StudentID")
print(inner_merge)

   StudentID Grade
0          3     A
1          4     B
2          5     C
3          6     D
   StudentID     Name
0          1    Alice
1          2      Bob
2          3  Charlie
3          4    David
   StudentID Grade     Name
0          3     A  Charlie
1          4     B    David

In [10]:
outer_merge=df2.merge(df1,how="outer",on="StudentID")
print(outer_merge)

   StudentID Grade     Name
0          3     A  Charlie
1          4     B    David
2          5     C      NaN
3          6     D      NaN
4          1   NaN    Alice
5          2   NaN      Bob

In [12]:
left_merge=df2.merge(df1,how="left",on="StudentID")
print(left_merge)

   StudentID Grade     Name
0          3     A  Charlie
1          4     B    David
2          5     C      NaN
3          6     D      NaN

In [13]:
right_merge=df2.merge(df1,how="right",on="StudentID")
print(right_merge)

   StudentID Grade     Name
0          1   NaN    Alice
1          2   NaN      Bob
2          3     A  Charlie
3          4     B    David

# Question 2

In [15]:
data={
    'Salesperson':['Alice','Bob','Charlie','Alice','Bob','Charlie'],
    'Product':['Widget','Widget','Gadget','Gadget','Widget','Gadget'],
    'Quantity':[4,2,3,5,6,1]
}

df = pd.DataFrame(data)

# Group by 'Salesperson' and calculate total 'Quantity' sold by each salesperson
salesperson_group = df.groupby('Salesperson')['Quantity'].sum()
print("Total Quantity sold by each Salesperson:")
print(salesperson_group)

# Group by 'Product' and find the average 'Quantity'
product_group = df.groupby('Product')['Quantity'].mean()
print("\nAverage Quantity for each Product:")
print(product_group)

Total Quantity sold by each Salesperson:
Salesperson
Alice      9
Bob        8
Charlie    4
Name: Quantity, dtype: int64

Average Quantity for each Product:
Product
Gadget    3.0
Widget    4.0
Name: Quantity, dtype: float64