In [6]:
import pandas as pd 
import seaborn as sns
iris=sns.load_dataset('iris')

In [11]:
print(iris.head())
print(iris.describe())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [17]:
mean=iris['sepal_length'].mean()
mean

5.843333333333334

In [ ]:
median= iris['sepal_width'].mean()

In [19]:
mode=iris['species'].mode()
mode

0        setosa
1    versicolor
2     virginica
Name: species, dtype: object

In [20]:
variance=iris['petal_length'].var()

In [ ]:
sd=iris['petal_width']

In [24]:
skew=iris.select_dtypes(include=['float64','int64'])
skewness=skew.skew()

In [28]:
kurt=iris['sepal_length'].kurt()

In [ ]:
percentiles = df['column_name'].quantile([0.25, 0.5, 0.75])